.college-info-card {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .name {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: #333;
  }
  
  .college-details {
    margin-top: 1rem;
  }
  
  .detail {
    margin-bottom: 1rem;
  }
  
  .detail strong {
    color: #555;
  }
  
  .detail span {
    color: #777;
  }
  