* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #D3FAC7;
    
   
}

.container {
    max-width: 100%;
    margin: 0 auto;
}



  